.Icon {
  height: 50px;
  width: 50px;
  align-content: center;
  margin: 5px;
}
.LogoTitle {
  color: orange;
  /* margin: 50px; */
}
.TableStyle {
  border: 1px solid;
  border-color: lightgrey;
}

.menuStyle {
  font-size: 15pt;
  font-weight: bold;
}

a:hover {
  color: rgb(247, 64, 73);
}
