.Base {
  display: flex;
  /* overflow: hidden; */
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
}

.Top {
  display: flex;
  position: relative;
  z-index: 10;
  height: 60px;
  margin-top: 0px;
}
.Menu,
.List,
.Temp {
  overflow: auto;
  height: auto;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Menu {
  width: 12.5rem;
}

.List {
  flex: 1;
}

.Temp {
  width: 12.5rem;
}
.LogoTitle {
  color: orange;
  margin-top: 12pt;
  font-weight: bold;

  /* margin: 50px; */
}

.NewsTitle {
  color: rgb(3, 51, 122);
  margin-top: 12pt;
  font-weight: bold;
}

.Icon {
  height: 50px;
  width: 50px;
  align-content: center;
  margin: 5px;
}

.BoxShadow {
  box-shadow: 0px 0px 5px #9e9e9e;
}
